.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

video {
  padding: 0px;
}

video:focus {
  outline: none
}

div.ant-col {
  padding: 50px;
}

div.ant-row-flex.ant-row-flex-space-around.ant-row-flex-middle {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;
}

#title {
  color: rgba(51, 51, 51, 1);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}